apiVersion: v1
kind: Service
metadata:
  name: todo-backend
  namespace: todo-app-dev
  labels:
    app: todo-app
    component: backend
spec:
  type: ClusterIP
  selector:
    app: todo-app
    component: backend
  ports:
  - name: http
    port: 8000
    targetPort: http
    protocol: TCP
  sessionAffinity: ClientIP
  sessionAffinityConfig:
    clientIP:
      timeoutSeconds: 10800
