apiVersion: v1
kind: Service
metadata:
  name: todo-database
  namespace: todo-app-dev
  labels:
    app: todo-app
    component: database
spec:
  type: ClusterIP
  clusterIP: None
  selector:
    app: todo-app
    component: database
  ports:
  - name: postgres
    port: 5432
    targetPort: postgres
    protocol: TCP
