apiVersion: v1
kind: Namespace
metadata:
  name: todo-app-prod
  labels:
    name: todo-app-prod
    environment: production
---
apiVersion: v1
kind: Namespace
metadata:
  name: kafka
  labels:
    name: kafka
---
apiVersion: v1
kind: Namespace
metadata:
  name: monitoring
  labels:
    name: monitoring
