apiVersion: v1
kind: Service
metadata:
  name: todo-frontend
  namespace: todo-app-dev
  labels:
    app: todo-app
    component: frontend
spec:
  type: NodePort
  selector:
    app: todo-app
    component: frontend
  ports:
  - name: http
    port: 3000
    targetPort: http
    nodePort: 30000
    protocol: TCP
